DB_NAME = "Aqui va el nombre de la base de datos"
DB_USER = "Aqui va el nombre del usuario"
DB_PASSWORD = "Aqui va la contraseña del usuario"
DB_HOST = "Aqui va el host local de la base de datos"
DB_DIALECT = "Aqui va el dialecto de la base de datos"
PORT = "Aqui va el puerto en el que ejecutaremos la base de datos"